/*colors and founts */

body { 
background: rgb(252, 255, 247);
color: rgb(30, 30, 30);
font-family: 'Roboto Slab', serif;
font-size: 16px;

}

h1 {

	font-family: 'Playfair Display', serif;
		color: #23A0A0;
	font-size: 32px;
	font-weight: 600;
} 
 p { 
 
 	font-family:italic;
 	font-size: 16px;
}


h2 {
	color:rgb(19, 104, 101);
    font-family: Bangla MN;
	font-size: : 5px;
	font-weight: 100;
	font-weight: lighter;
	
}

 a {
 	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:#985F99;
	font-weight: 600;
	font-size: 16px;
	
}

a:hover {
	color: black;
}


/*custom design with class*/

.container {
	 width: 700px;
	 margin: 40px auto;
}

@media (max-width: 760px) {
    .container {
	width: 600px
     }
}

@media (max-width: 500px){
    .container {
	width: 400px;
  }
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0);
	border-radius: 4px;
	margin: 20px 0px;
    text-align: center;
}

.image-circle {
	border-radius: 50%;
}

.btn-black {
	background-color: black;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-black:hover {
	background-color: purple;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
} 

.list-inline i {
	font-size: 40px;
	color: black;
}

.list-inline i:hover {
	color: purple;
}

/*desing adjustments using id*/

#introduction p {
	margin-bottom: 30px;
}





















